<?xml version="1.0" encoding="utf-8"?>
<manifest package="ninja.luois.twicco"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".common.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_key}"
            />

        <activity android:name=".account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.view.MainActivity"/>

        <activity android:name=".compose.view.NewTweetActivity"
            android:windowSoftInputMode="adjustResize"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ninja.luois.twicco.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>
